//baseline.less: providing the basic styles and variables
//Colour variables
@dark-grey: #333333;
@light-grey: #808080;
@super-light-grey: #e7e7e7;
@highlight: #0088aa;
@default-font-height: 12px;
@large-font-height: 14px;

//Font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
body {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: @default-font-height;
}

#wrapper{
    position: absolute;
    min-height: 100%;
    width:100%;
    text-align:center;
}

//Header
//Header variables
@logo-size-mobile: 40%;
@mobile-page-padding: 20px;
@header-displacement: 160px;

#header{
  position: fixed;
  z-index: 100;
  background: #ffffff;
  width:75%;
  left:50%;
  min-width:288px;
  transform: translate(-50%);
  color: @light-grey;
  text-transform: uppercase;
  background-image: url("../../img/logo_signature.png");
  background-position: center @mobile-page-padding;
  background-size: @logo-size-mobile;
  background-repeat: no-repeat;
  hr{
    width:50%;
    border: 0;
    height: 1px;
    background: @super-light-grey;
    margin-bottom:1px;
  }
}

//fade
#fade {
  position: absolute;
  width: 100vw;
  transform: translate(-50%);
  height: 20px;
  margin-top: -1px;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}


//navigation
#navigation{
  position: relative;
  padding-top: round(@logo-size-mobile/1.7);
  text-align:center;
}
.nav{
  padding-top: 0px;
  ul{
    list-style:none;
    display:flex;
    justify-content: space-between;
    padding: 0 @mobile-page-padding;
    li {
      display:inline-block;
    }
  }
  margin-bottom: 15px;
  margin-top: 20px;
  a.active, a:hover{
    color: #000000;
  }
}
.social{
  ul{
    padding: 0 36%;
  }
}

//social
a.social {
  img {
    height: 22px;
  }
}

//body
#body{
  position: relative;
  width:100%;
  padding-top: @header-displacement;
  padding-bottom:40px;
  width: 75%;
  left: 50%;
  min-width: 288px;
  transform: translate(-50%);
}
.grid{
  display:grid;
  grid-template-columns: auto auto;
  padding: @mobile-page-padding;
  text-align: center;
  color: @light-grey;
}

.portfolio {

  a:nth-child(1){
    .portfolio-category{
      background: url('../../img_demo/category_1.png');
    }
  }
  a:nth-child(2){
    .portfolio-category{
      background: url('../../img_demo/category_2.png');
    }
  }
  a:nth-child(3){
    .portfolio-category{
      background: url('../../img_demo/category_3.png');
    }
  }
  a:nth-child(4){
    .portfolio-category{
      background: url('../../img_demo/category_4.png');
    }
  }
  a:nth-child(5){
    .portfolio-category{
      background: url('../../img_demo/category_5.png');
    }
  }
  a:nth-child(6){
    .portfolio-category{
      background: url('../../img_demo/category_6.png');
    }
  }

  a {
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 0.75em;
    .portfolio-category.image-container{
      display: inline-grid;
      height: 37vw;
      width: 30vw;
      background-size:contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.copyright-notice{
  color: @light-grey;
  text-transform: uppercase;
}
#footer{
  text-align: center;
  left: 0;
  width: 100%;
  padding-bottom: 10px;
  font-size: 1em;
  //margin-top: @header-displacement;
  bottom:10px;
  position: absolute;
  font-size: @default-font-height*0.75;
}

//landscape variables
@media screen and (orientation: landscape) {
  @header-displacement-landscape-mobile: 80px;
  //header business
  #header {
      position: fixed;
      width: 100%;
      background-position: 20px 20px;
      background-size: 130px;
      hr {
        margin-top: 45px;
        position: relative;
        left: 40%;
        width: 25%;
      }
  }
  #navigation{
    padding:0;
    text-align:left;
  }
  .nav ul {
    display: block;
    li {
      padding: 0 8px;
    }
  }
  .nav-main ul {
    //font-size: 15px;
    position: relative;
    top: 18px;
    left: 25%;
    li:first-child{
      display:none;
    }
  }
  .social ul{
    padding: 0;
    position: absolute;
    right: 0px;
    text-align: right;
  }

  //body (to be extracted)
  #body{
    padding-top: @header-displacement-landscape-mobile;
  }
  .grid{
    display:grid;
    grid-template-columns: auto auto auto;
  }
  .portfolio{
    a{
      .portfolio-category.image-container{
        height: 25vw;
        width: 20vw;
      }
    }
  }
  #footer{
    //margin-top:@header-displacement-landscape-mobile;
  }
}
@media only screen and (orientation: portrait) and (min-width: 550px) and (max-width : 710px) {
  @header-displacement-portrait-mid:180px;
  #body{
    padding-top:@header-displacement-portrait-mid;
  }
  #footer{
    //margin-top:@header-displacement-portrait-mid;
  }
}

@media only screen and (orientation: portrait) and (min-width : 710px) {
  body {
    font-size: @large-font-height;
  }
  //header business
  @header-displacement-portrait-large:120px;
  #header {
      position: fixed;
      padding-top: 20px;
      width: 80%;
      background-position: 20px 40px;
      background-size: 180px;
      hr {
        margin-top: 75px;
        position: relative;
        left: 35%;
        width: 30%;
      }
  }
  #navigation{
    padding:0;
    text-align:left;
  }
  .nav ul {
    display: block;
    li {
      padding: 0 8px;
    }
  }
  .nav-main ul {
    //font-size: 15px;
    position: relative;
    top: 31px;
    left: 205px;
    li:first-child{
      display:none;
    }
  }
  .social ul{
    padding: 0;
    position: absolute;
    right: 0px;
    text-align: right;
    margin-top: 25px;
    li{
      a{
        img{
          height: 25px;
        }
      }
    }
  }
  .portfolio {
    a{
      font-size: 0.9em;
    }
  }
  //body
  #body{
    padding-top: @header-displacement-portrait-large;
  }
  #footer{
    font-size:1em;
    //margin-top: @header-displacement-portrait-large;
  }
}
@media only screen and (orientation: portrait) and (min-width : 900px) {
  body{
    font-size: 16px;
  }
  .nav ul li {
    padding: 0 15px;
  }
  .nav-main ul {
    //font-size: 15px;
    top: 28px;
    font-size: 1.1em;
  }
  //body
  .portfolio a {
    font-size: 1em;
    .portfolio-category.image-container{
      height: 34vw;
    }
  }


}
@media only screen and (orientation: landscape) and (min-width : 660px) {
  .nav{
    font-size: 1.2em;
  }
  .nav-main ul {
    left: 150px;
    li:first-child{
      display:inline-block;
    }
  }
  .portfolio {
    a{
      font-size: 0.9em;
    }
  }
  .nav-main ul {
    //font-size: 15px;
    top: 18px;
    font-size: 0.9em;
  }
}
@media only screen and (orientation: landscape) and (min-width: 1024px){
  #header{
    width: 80%;
    background-size: 180px;
    hr {
      margin-top: 63px;
      left: 35%;
      width: 30%;
    }
  }
  .nav{
    font-size: 1.25em;
  }
  .nav-main ul {
      left: 200px;
      top:28px;
  }
  .social ul{
    margin-top:23px;
    li{
      a{
        img{
          height: 27px;
        }
      }
    }
  }
  .portfolio {
    a{
      font-size: 1em;
    }
  }
  #footer{
    text-align: left;
    //margin-top:20px;
    font-size: 1em;
    width: 80%;
    left: 12%;
  }
}
@media only screen and (orientation: landscape) and (min-width: 1200px){
  body{
    font-size: @large-font-height;
  }
  @header-displacement-landscape-large:140px;
  #body{
    padding-top:@header-displacement-landscape-large;
  }
  #footer{
    //margin-top: @header-displacement-landscape-large;
  }
  #header{
    background-size: 200px;
    padding-top: 35px;
    background-position: 20px 55px;
    hr {
      margin-top:70px;
    }
  }
  .nav{
    ul{
      li{
        padding: 0 20px;
      }
    }
  }
  .nav-main{
    ul{
      left: 230px;
      top: 32px;
    }
  }
  .social{
    ul{
      li{
        padding: 0 10px;
      }
    }
  }
}
@media only screen and (orientation: landscape) and (min-width: 1400px){
  body{
    font-size: @default-font-height;
  }
  #header{
    hr {
      margin-top:72px;
    }
  }
  //body
  #body{
    width: 60%;
  }
  .grid{
    padding-top: 10vh;
  }
  .portfolio a {
    font-size: 1em;
    max-width: 240px;
    .portfolio-category.image-container{
      height: 15vw;
      width: 15vw;
      max-width: 240px;
      padding-bottom: 1vw;
    }
  }
}
@media only screen and (orientation: landscape) and (min-width: 1600px){
  #header{
    width: 70%;
  }
  //body
  #body{
    width: 55%;
  }
  .grid{
    padding-top: 7vh;
  }
  #footer{
    width:70%;
    left:17%;
  }
}
