//baseline.less: providing the basic styles and variables
//Colour variables
@dark-grey: #333333;
@light-grey: #808080;
@super-light-grey: #f2f2f2;
@highlight: #0088aa;
@default-font-height: 12px;

//Font
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: @default-font-height;
}

#wrapper{
    position: absolute;
    height: 100%;
    width:100%;
    text-align:center;
}

//Header
//Header variables
@logo-size-mobile: 40%;
@mobile-page-padding: 20px;

#header{
  position: fixed;
  z-index: 100;
  background: #ffffff;
  width:75%;
  left:50%;
  min-width:288px;
  transform: translate(-50%);
  color: @light-grey;
  text-transform: uppercase;
  background-image: url("../../img/logo_signature.png");
  background-position: center @mobile-page-padding;
  background-size: @logo-size-mobile;
  background-repeat: no-repeat;
  hr{
    width:50%;
    border: 0;
    height: 1px;
    background: @super-light-grey;
    margin-bottom:1px;
  }
}

//fade
#fade {
  position: absolute;
  width: 100vw;
  transform: translate(-50%);
  height: 20px;
  margin-top: -1px;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}


//navigation
#navigation{
  position: relative;
  padding-top: round(@logo-size-mobile/1.7);
  text-align:center;
}
.nav{
  padding-top: 0px;
  ul{
    list-style:none;
    display:flex;
    justify-content: space-between;
    padding: 0 @mobile-page-padding;
    li {
      display:inline-block;
    }
  }
  margin-bottom: 15px;
  margin-top: 20px;
}
.social{
  ul{
    padding: 0 36%;
  }
}

//social
a.social {
  img {
    height: 22px;
  }
}

//body
#body{
  position: relative;
  width:100%;
  top:160px;
  width: 75%;
  left: 50%;
  min-width: 288px;
  transform: translate(-50%);
}
.grid{
  display:grid;
  grid-template-columns: auto auto;
  padding: @mobile-page-padding;
  text-align: center;
  color: @light-grey;
}

.portfolio {

  a:nth-child(1){
    .portfolio-category{
      background: url('../../img_demo/category_1.png');
    }
  }
  a:nth-child(2){
    .portfolio-category{
      background: url('../../img_demo/category_2.png');
    }
  }
  a:nth-child(3){
    .portfolio-category{
      background: url('../../img_demo/category_3.png');
    }
  }
  a:nth-child(4){
    .portfolio-category{
      background: url('../../img_demo/category_4.png');
    }
  }
  a:nth-child(5){
    .portfolio-category{
      background: url('../../img_demo/category_5.png');
    }
  }
  a:nth-child(6){
    .portfolio-category{
      background: url('../../img_demo/category_6.png');
    }
  }

  a {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: @default-font-height*0.75;
    .portfolio-category.image-container{
      display: inline-grid;
      height: 37vw;
      width: 30vw;
      background-size:contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

#footer{
  color: @light-grey;
  text-align: center;
  text-transform: uppercase;
  padding-bottom:15px;
  font-size: @default-font-height*0.75;
}
